{% extends 'base.html.twig' %}

{% block title %}Un acteur{% endblock %}
{% block pageTitle %}Un acteur{% endblock %}

{% block body %}

 </br><h1 style="text-align: center;color: blue;">Fiche d'un acteur </h1> </br> </br> 

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th style="width: 300px; color: red; font-size: 20px;">Id</th>
            <th style="width: 300px; color: red; font-size: 20px;">Nom</th>
            <th style="width: 300px; color: red; font-size: 20px;">Prenom</th>
            <th style="width: 300px; color: red; font-size: 20px;">Date de naissance</th>
            <th style="width: 300px; color: red; font-size: 20px;">Date de décès</th>
            <th style="width: 300px; color: red; font-size: 20px;">Films</th>
            <th style="width: 300px; color: red; font-size: 20px;">Image</th>
        </tr>
    </thead>
    <tbody>
    
        <tr>
            <td style="text-align: center;">{{ acteurs.id }}</td>
            <td style="text-align: center;">{{ acteurs.nom }}</td>
            <td style="text-align: center;">{{ acteurs.prenom }}</td>
            <td style="text-align: center;">{{ acteurs.birthday|date("d/m/Y") }}</td>
            <td style="text-align: center;">{{ acteurs.deathday|date("d/m/Y") }}</td>
            <td style="text-align: center;"> 

            </td>

            <td style="text-align: center;">
            {% if acteurs.image is not null %}
                <img src="{{ asset("image/"~acteurs.image) }}"/>
                 {% endif %} 
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}

